
.select_search_bg{ width: 100%; background: #f8f8f8; padding: 15px 0;}
.select_search{ width: 1160px; margin: 0 auto; border-top: 2px solid #1E9FFF; background: #fff; padding: 20px;}
.select_search ul li{padding: 20px 20px 10px 20px;}
.select_search ul li span{ font-weight: bold; color: #333; display: inline-block; width: 120px;  vertical-align: top;}
.select_search ul li ul{ display: inline-block; width: 990px;}
.select_search ul .border-bottom{ border-bottom: 1px solid #F2F2F2;}
.select_search ul li ul li{ display: inline-block; padding: 0 8px; margin: 0 10px; color: #333; cursor: pointer;}
.select_search ul li ul li:hover{ color: #1E9FFF;}
.select_search ul li ul .active{ background: #1E9FFF; color: #fff;  border-radius: 10px;}
.select_search ul li ul .active:hover{ color: #fff;}
.select_search ul li ul .level{ background: #f8f8f8; margin: 10px 10px 0 10px; display: none;}
.select_search ul li ul .level p{ padding: 10px;}
.select_search ul li ul .level p em{  font-style: normal;  margin: 0 10px; cursor: pointer; display: inline-block; margin: 3px 10px;}
.select_search ul li ul .level p .level_active{ background: none; color: #1E9FFF;}

.select_list{ width: 1200px; margin: 20px auto 0;}
.select_list h2{ margin-bottom: 20px;  background: #f8f8f8; padding: 10px 20px;}
.select_list h2 .total{ display: inline-block; font-size: 14px; float: right; line-height: 40px; margin-right: 80px; color: #666;}
.select_list h2 .total img{ width: 20px; vertical-align: sub; margin-right: 3px;}
.select_list h2 .total span{ margin-right:3px; color: #FF5722;}
.select_list h2 p{ display: inline-block; line-height: 38px; color: #e6e6e6; }
.select_list h2 p span{ font-size: 14px; margin: 0 40px; color: #666;  text-align: center; cursor: pointer;}
.select_list h2 p span i{ display: inline-block; width: 5px; color: #FF5722; font-weight: bold; font-size: 15px; margin-right: 3px; vertical-align: top;}
.select_list h2 a{ float: right;}
.select_list .table{ width: 100%; }
.select_list .table thead{ background: #f8f8f8; line-height: 40px; color: #333; border-top: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2;}
.select_list .table tbody{ text-align: center; line-height: 20px; color: #333; }
.select_list .table tbody tr{border-bottom: 1px solid #F2F2F2; }
.select_list .table tbody tr td{padding: 10px 0;}
.select_list .table tbody tr:hover{ background: #f8f8f8;}

.help_find{ width: 1200px; background: #f8f8f8; margin: 0 auto; text-align: center;}
.help_find img{ width: 140px; margin: 20px;}
.help_find textarea{ resize: none; width: 800px; display: inline-block;  vertical-align: middle;}
.help_find button{ margin-left: 30px;}
